PORT=3333
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=Horarius
DB_USER=postgres
DB_PASSWORD=postgres

AUTH_USER_NAME=Usuario Horarius
AUTH_USER_EMAIL=admin@horarius.com
AUTH_USER_CPF=52998224725
AUTH_USER_PASSWORD=123456

JWT_SECRET=horarius_jwt_secret
JWT_EXPIRES_IN=1d
